<header>
    <nav>
        <a href="/">Massage Booking</a>
        <ul>
            <li><a href="/events">Available Slot</a></li>
            <li><a href="/events/new">Book Slot</a></li>
        </ul>
    </nav>
</header>   